<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="utf-8" />
	<title>Home</title>
	<link rel="stylesheet" type="text/css" href="../../css/bootstrap.min.css">
</head>

<body>
	<div class="container">
		<div class="row">
			<div class="col-6">

			</div>
			<div class="col-6 text-right">
				<a href="/">Home</a>&nbsp;|&nbsp;<a href="/login">Login</a>
			</div>
		</div>
		<div class="row">
			<h2>User List</h2>
		</div>
		<div class="row">
			<a href="/user/add" class="btn btn-primary btn-sm">Add New</a>
			<table class="table table-bordered">
				<thead>
					<tr>
						<th>Id</th>
						<th>Full Name</th>
						<th>User Name</th>
						<th>Role</th>
						<th>Action</th>
					</tr>
				</thead>
				<tbody>
					<tr th:each="user : ${users}">
						<td class="w-10" th:text="${user.id}"></td>
						<td th:text="${user.fullname}"></td>
						<td th:text="${user.username}"></td>
						<td class="w-25" th:text="${user.role}"></td>
						<td class="text-center w-15">
							<!-- <a th:href="@{/user/update/{id}(id=${user.id})}">Edit</a> -->
							<form th:action="@{/user/update/{id}(id=${user.id})}" method="get" class="d-inline">
								<button class="btn btn-primary btn-sm" type="submit">Edit</button>
							</form>
							&nbsp;|&nbsp;
							<!-- <a th:href="@{/user/delete/{id}(id=${user.id})}">Delete</a> -->
							<form th:action="@{/user/delete/{id}(id=${user.id})}" method="post" class="d-inline">
								<button class="btn btn-primary btn-sm" type="submit">Delete</button>
							</form>
						</td>
					</tr>
				</tbody>
			</table>
		</div>
	</div>
</body>

</html>