<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="utf-8" />
	<title>Home</title>
	<link rel="stylesheet" href="../../css/bootstrap.min.css">
	<link rel="stylesheet" href="../../css/style.css">
</head>

<body>
	<div class="container">
		<div class="row">
			<div class="col-6">
				<a href="/bidList/list">Bid List</a>&nbsp;|&nbsp;
				<a href="/curvePoint/list">Curve Points</a>&nbsp;|&nbsp;
				<a href="/rating/list">Ratings</a>&nbsp;|&nbsp;
				<a href="/trade/list">Trade</a>&nbsp;|&nbsp;
				<a href="/trade/list">Rule</a>
			</div>
			<div class="col-6 text-right">
				Logged in user: <b th:inline="text" class="user"> [[${#authentication.name}]] </b>
				<form th:action="@{/logout}" method="POST">
					<input type="submit" value="Logout" />
				</form>
			</div>
		</div>
		<div class="row">
			<h2>Trade List</h2>
		</div>
		<div class="row">
			<a href="/trade/add" class="btn btn-primary btn-sm mb-3">Add New</a>
			<table class="table table-bordered">
				<thead>
					<tr>
						<th>Id</th>
						<th>Account</th>
						<th>Type</th>
						<th>Buy Quantity</th>
						<th>Action</th>
					</tr>
				</thead>
				<tbody>
					<tr th:each="trade : ${trades}">
						<td class="w-10" th:text="${trade.tradeId}"></td>
						<td th:text="${trade.account}"></td>
						<td th:text="${trade.type}"></td>
						<td th:text="${trade.buyQuantity}"></td>
						<td class="text-center w-15">
							<!-- <a th:href="@{/trade/update/{id}(id=${trade.tradeId})}">Edit</a> -->
							<form th:action="@{/trade/update/{id}(id=${trade.tradeId})}" method="get"
								class="d-inline">
								<button class="btn btn-primary btn-sm" type="submit">Edit</button>
							</form>
							&nbsp;|&nbsp;
							<!-- <a th:href="@{/trade/delete/{id}(id=${trade.tradeId})}">Delete</a> -->
							<form th:action="@{/trade/delete/{id}(id=${trade.tradeId})}" method="post"
								class="d-inline">
								<button class="btn btn-primary btn-sm" type="submit">Delete</button>
							</form>
						</td>
					</tr>
				</tbody>
			</table>
		</div>
	</div>
</body>

</html>